<p>
  <%= f.text_field :rest, :value => @custom_field.rest, :size => 50 %>
</p>
<p>
  <%= f.text_field :svn, :value => @custom_field.svn, :size => 50 %>
</p>
<p>
  <%= f.text_field :svnusr, :value => @custom_field.svnusr, :size => 50 %>
</p>
<p>
  <%= f.password_field :svnpwd, :value => @custom_field.svnpwd, :size => 50 %>
</p>
<p>
  <%= f.file_field :svnca, :value => @custom_field.svnca, :size => 50 %>
</p>
